bin/
lib/
lib64
share/
include/
CWCmodel/__pycache__/
CWCmodel/data/
data/
*.cfg

.env

CWCmodel/structured/__pycache__/content.cpython-310.pyc
CWCmodel/structured/__pycache__/website.cpython-310.pyc
CWCmodel/pattern/__pycache__/website.cpython-310.pyc
CWCmodel/pattern/__pycache__/content.cpython-310.pyc
video/text.vtt
video/text.txt
video/__pycache__/content.cpython-310.pyc
